# --- build artifacts ---
# object files & raw/linked binaries
*.o
*.obj
*.a
*.so
*.bin
*.elf
*.out

# linked ELF executables (no extension) — pflegen pro lab
01-stack-overflow-basics/vuln
04-x86-asm-basics/hello

# common build dirs
build/
bin/

# exploit dev scratch
payload*
core
*.core

# Ausnahme: Artefakte für 02-exercise_2 sollen mitcommitet werden
!05-reverse-engineering/02-exercise_2/bin/
!05-reverse-engineering/02-exercise_2/bin/**
!05-reverse-engineering/02-exercise_2/build/
!05-reverse-engineering/02-exercise_2/build/**
!05-reverse-engineering/02-exercise_2/lib/
!05-reverse-engineering/02-exercise_2/lib/**
